@model CreateWeekMenuViewModel
 <table>
     <Container class="text-center">
     <head>
        @* <form asp-action="PrivateIndex" method="post">
    
            <label asp-for="WeekNumber">Veckonummer:</label>
            <select class="m-1" asp-for="WeekNumber"  asp-items="@(new SelectList(Model.Weeks))"  ></select>
            <span asp-validation-for="WeekNumber"></span>
            <button   type="submit" class="btn btn-outline-dark m-1">Ändra vecka</button>
        </form>*@


        <form class="col-lg-6 offset-lg-3 " asp-action="Index" method="post">
            <div class="row justify-content-center">
                <label asp-for="WeekNumber"><h5>Veckonummer:</h5></label>
                <select class="m-1" asp-for="WeekNumber"  asp-items="@(new SelectList(Model.Weeks))"  ></select>
                <span class="input-group-btn">
                    <button   type="submit" class="btn btn-outline-dark m-1">Ändra vecka</button>
                </span>
            </div>
        </form>




        <h1>Dagens rätt v.@Model.Week</h1> 
        

          <h2>Dagens pris: @Model.DayPrice Kr</h2>
         

     </head>

     
     <br>

     <body>

         
         <h3>Måndag:</h3>
        @foreach (WeekMenu weekMenu in Model.WeekMenuList)
        {
            if(weekMenu.Day == Weekday.Måndag && Model.Week == weekMenu.WeekNumber)
            {
                

                    @foreach(Dish dish in Model.DishList)
                    {

                        @foreach(DishWeekMenu dishWeekMenu in Model.DishWeekMenuList)
                        {
                            if(dishWeekMenu.DishId == dish.DishId && dishWeekMenu.WeekMenuId == weekMenu.WeekMenuId)
                            {
                                <h5 class="col-sm">@dish.DishName</h5>
                            }

                        }
                        
                    }
          
            }
        }

         <h3>Tisdag:</h3>
        @foreach (WeekMenu weekMenu in Model.WeekMenuList)
        {
            if(weekMenu.Day == Weekday.Tisdag && Model.Week == weekMenu.WeekNumber)
            {
                

                    @foreach(Dish dish in Model.DishList)
                    {

                        @foreach(DishWeekMenu dishWeekMenu in Model.DishWeekMenuList)
                        {
                            if(dishWeekMenu.DishId == dish.DishId && dishWeekMenu.WeekMenuId == weekMenu.WeekMenuId)
                            {
                                <h5 class="col-sm">@dish.DishName</h5>
                            }

                        }
                        
                    }
          
            }
        }

        <h3> Onsdag:</h3>
        @foreach (WeekMenu weekMenu in Model.WeekMenuList)
        {
            if(weekMenu.Day == Weekday.Onsdag && Model.Week == weekMenu.WeekNumber)
            {
                
                    @foreach(Dish dish in Model.DishList)
                    {

                        @foreach(DishWeekMenu dishWeekMenu in Model.DishWeekMenuList)
                        {
                            if(dishWeekMenu.DishId == dish.DishId && dishWeekMenu.WeekMenuId == weekMenu.WeekMenuId)
                            {
                                <h5 class="col-sm">@dish.DishName</h5>
                            }

                        }
                        
                    }
          
            }
        }

        <h3>Torsdag:</h3>
        @foreach (WeekMenu weekMenu in Model.WeekMenuList)
        {
            if(weekMenu.Day == Weekday.Torsdag && Model.Week == weekMenu.WeekNumber)
            {
                

                    @foreach(Dish dish in Model.DishList)
                    {

                        @foreach(DishWeekMenu dishWeekMenu in Model.DishWeekMenuList)
                        {
                            if(dishWeekMenu.DishId == dish.DishId && dishWeekMenu.WeekMenuId == weekMenu.WeekMenuId)
                            {
                                <h5 class="col-sm">@dish.DishName</h5>
                            }

                        }
                        
                    }
          
            }
        }

        <h3> Fredag:</h3>
        @foreach (WeekMenu weekMenu in Model.WeekMenuList)
        {
            if(weekMenu.Day == Weekday.Fredag && Model.Week == weekMenu.WeekNumber)
            {
                

                    @foreach(Dish dish in Model.DishList)
                    {

                        @foreach(DishWeekMenu dishWeekMenu in Model.DishWeekMenuList)
                        {
                            if(dishWeekMenu.DishId == dish.DishId && dishWeekMenu.WeekMenuId == weekMenu.WeekMenuId)
                            {
                                <h5 class="col-sm">@dish.DishName</h5>
                            }

                        }
                        
                    }
          
            }
        }

        <h3> Lördag:</h3>
        @foreach (WeekMenu weekMenu in Model.WeekMenuList)
        {
            if(weekMenu.Day == Weekday.Lördag && Model.Week == weekMenu.WeekNumber)
            {
                

                    @foreach(Dish dish in Model.DishList)
                    {

                        @foreach(DishWeekMenu dishWeekMenu in Model.DishWeekMenuList)
                        {
                            if(dishWeekMenu.DishId == dish.DishId && dishWeekMenu.WeekMenuId == weekMenu.WeekMenuId)
                            {
                                <h5 class="col-sm">@dish.DishName</h5>
                            }

                        }
                        
                    }
          
                

                
            }
        }

        <h3>Söndag:</h3>
        @foreach (WeekMenu weekMenu in Model.WeekMenuList)
        {
            if(weekMenu.Day == Weekday.Söndag && Model.Week == weekMenu.WeekNumber)
            {
                

                    @foreach(Dish dish in Model.DishList)
                    {

                        @foreach(DishWeekMenu dishWeekMenu in Model.DishWeekMenuList)
                        {
                            if(dishWeekMenu.DishId == dish.DishId && dishWeekMenu.WeekMenuId == weekMenu.WeekMenuId)
                            {
                                <h5 class="col-sm">@dish.DishName</h5>
                            }

                        }
                        
                    }
            }
        }
     </body>

     </Container>

 </table>
 <datalista>

    @foreach(int week in Model.Weeks)
    {
        
           <option type="number" value="@week"></option> 
        
        
    }
</datalista>
