@model Contact

    <div class="col-sm">
        <h4>@Model.ContactName</h4>
    </div>
    <div class="col-sm">
        <h5>@Model.ExtenedContactName</h5>
    </div>
    <div class="col-sm">
        <label>Telefonnummer: </label>
        <p>@Model.PhoneNumber</p>
    </div>
    <div class="col-sm">
        <label>Epost: </label>
        <p>@Model.Email</p>
    </div>
    <div class="col-sm">
        <label>Adress: </label>
        
        <p>@Model.Street</p>
        <p>@Model.ZipCode</p>
        <p>@Model.City</p>
    </div>