@model CreateContactViewModel;


<h1>Ändra i Kontakter</h1>

<form asp-Controller = "Contact" asp-action="Edit" method="post">
    
    <input type="hidden" asp-for="ContactId" onfocus="this.value=''" value="@Model.ContactId"/>
   

    <label asp-for="ContactName">Namn:</label>
    <input asp-for="ContactName" onfocus="this.value='@Model.ContactName'" value="@Model.ContactName" type="text" class="form-control"/>
    <span asp-validation-for="ContactName"></span>
    <br>

    <label asp-for="ExtenedContactName">Tilläggsnamn:</label>
    <input asp-for="ExtenedContactName" onfocus="this.value='@Model.ExtenedContactName'" value="@Model.ExtenedContactName" type="text" class="form-control"/>
    <span asp-validation-for="ExtenedContactName"></span>
    <br>

    <label asp-for="PhoneNumber">Telefon nummer:</label>
    <input asp-for="PhoneNumber" onfocus="this.value='@Model.PhoneNumber'" value="@Model.PhoneNumber" type="text" class="form-control"/>
    <span asp-validation-for="PhoneNumber"></span>
    <br>

    <label asp-for="Email">Email adress:</label>
    <input asp-for="Email" onfocus="this.value='@Model.Email'" value="@Model.Email" type="text" class="form-control"/>
    <span asp-validation-for="Email"></span>
    <br>

    <label asp-for="ZipCode">Postnummer:</label>
    <input asp-for="ZipCode" onfocus="this.value='@Model.ZipCode'" value="@Model.ZipCode" type="text" class="form-control"/>
    <span asp-validation-for="ZipCode"></span>
    <br>

    <label asp-for="Street">Gatuadress:</label>
    <input asp-for="Street" onfocus="this.value='@Model.Street'" value="@Model.Street" type="text" class="form-control"/>
    <span asp-validation-for="Street"></span>
    <br>

    <label asp-for="City">Tätorts namn:</label>
    <input asp-for="City" onfocus="this.value='@Model.City'" value="@Model.City" type="text" class="form-control"/>
    <span asp-validation-for="City"></span>
    <br>

    

    <button type="submit" class="btn btn-outline-dark">Ändra i kontakt</button>

    
</form>
